@font-face {
  font-family: nokora;
  src: url("Nokora/Nokora-Regular.ttf");
}
@font-face {
  font-family: content;
  src: url("Content/Content-Regular.ttf");
}
@font-face {
  font-family: hanuman;
  src: url("Hanuman/Hanuman-Regular.ttf");
}