/* Extra Small */
@media only screen and (max-width: 576px) {
    .xs-gtc-1 { grid-template-columns: auto; }
    .xs-gtc-2 { grid-template-columns: auto auto; }
    .xs-gtc-3 { grid-template-columns: auto auto auto; }
    .xs-gtc-4 { grid-template-columns: auto auto auto auto; }
    .xs-gtc-5 { grid-template-columns: auto auto auto auto auto; }
    .xs-gtc-6 { grid-template-columns: auto auto auto auto auto auto; }
    .xs-gtc-7 { grid-template-columns: auto auto auto auto auto auto auto; }
    .xs-gtc-8 { grid-template-columns: auto auto auto auto auto auto auto auto; }
    .xs-gtc-9 { grid-template-columns: auto auto auto auto auto auto auto auto auto; }
    .xs-gtc-10 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto; }
    .xs-gtc-11 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto; }
    .xs-gtc-12 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .xs-gtr-1 { grid-template-rows: auto; }
    .xs-gtr-2 { grid-template-rows: auto auto; }
    .xs-gtr-3 { grid-template-rows: auto auto auto; }
    .xs-gtr-4 { grid-template-rows: auto auto auto auto; }
    .xs-gtr-5 { grid-template-rows: auto auto auto auto auto; }
    .xs-gtr-6 { grid-template-rows: auto auto auto auto auto auto; }
    .xs-gtr-7 { grid-template-rows: auto auto auto auto auto auto auto; }
    .xs-gtr-8 { grid-template-rows: auto auto auto auto auto auto auto auto; }
    .xs-gtr-9 { grid-template-rows: auto auto auto auto auto auto auto auto auto; }
    .xs-gtr-10 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto; }
    .xs-gtr-11 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; }
    .xs-gtr-12 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .xs-gcs-a { grid-column-start: auto; }
    .xs-gcs-1 { grid-column-start: 1; }
    .xs-gcs-2 { grid-column-start: 2; }
    .xs-gcs-3 { grid-column-start: 3; }
    .xs-gcs-4 { grid-column-start: 4; }
    .xs-gcs-5 { grid-column-start: 5; }
    .xs-gcs-6 { grid-column-start: 6; }
    .xs-gcs-7 { grid-column-start: 7; }
    .xs-gcs-8 { grid-column-start: 8; }
    .xs-gcs-9 { grid-column-start: 9; }
    .xs-gcs-10 { grid-column-start: 10; }
    .xs-gcs-11 { grid-column-start: 11; }
    .xs-gcs-12 { grid-column-start: 12; }

    .xs-gce-a { grid-column-end: auto; }
    .xs-gce-1 { grid-column-end: 1; }
    .xs-gce-2 { grid-column-end: 2; }
    .xs-gce-3 { grid-column-end: 3; }
    .xs-gce-4 { grid-column-end: 4; }
    .xs-gce-5 { grid-column-end: 5; }
    .xs-gce-6 { grid-column-end: 6; }
    .xs-gce-7 { grid-column-end: 7; }
    .xs-gce-8 { grid-column-end: 8; }
    .xs-gce-9 { grid-column-end: 9; }
    .xs-gce-10 { grid-column-end: 10; }
    .xs-gce-11 { grid-column-end: 11; }
    .xs-gce-12 { grid-column-end: 12; }

    .xs-grs-a { grid-row-start: auto; }
    .xs-grs-1 { grid-row-start: 1; }
    .xs-grs-2 { grid-row-start: 2; }
    .xs-grs-3 { grid-row-start: 3; }
    .xs-grs-4 { grid-row-start: 4; }
    .xs-grs-5 { grid-row-start: 5; }
    .xs-grs-6 { grid-row-start: 6; }
    .xs-grs-7 { grid-row-start: 7; }
    .xs-grs-8 { grid-row-start: 8; }
    .xs-grs-9 { grid-row-start: 9; }
    .xs-grs-10 { grid-row-start: 10; }
    .xs-grs-11 { grid-row-start: 11; }
    .xs-grs-12 { grid-row-start: 12; }

    .xs-gre-a { grid-row-end: auto; }
    .xs-gre-1 { grid-row-end: 1; }
    .xs-gre-2 { grid-row-end: 2; }
    .xs-gre-3 { grid-row-end: 3; }
    .xs-gre-4 { grid-row-end: 4; }
    .xs-gre-5 { grid-row-end: 5; }
    .xs-gre-6 { grid-row-end: 6; }
    .xs-gre-7 { grid-row-end: 7; }
    .xs-gre-8 { grid-row-end: 8; }
    .xs-gre-9 { grid-row-end: 9; }
    .xs-gre-10 { grid-row-end: 10; }
    .xs-gre-11 { grid-row-end: 11; }
    .xs-gre-12 { grid-row-end: 12; }

    /* span */
    .xs-gces-a { grid-column-end: span auto; }
    .xs-gces-1 { grid-column-end: span 1; }
    .xs-gces-2 { grid-column-end: span 2; }
    .xs-gces-3 { grid-column-end: span 3; }
    .xs-gces-4 { grid-column-end: span 4; }
    .xs-gces-5 { grid-column-end: span 5; }
    .xs-gces-6 { grid-column-end: span 6; }
    .xs-gces-7 { grid-column-end: span 7; }
    .xs-gces-8 { grid-column-end: span 8; }
    .xs-gces-9 { grid-column-end: span 9; }
    .xs-gces-10 { grid-column-end: span 10; }
    .xs-gces-11 { grid-column-end: span 11; }
    .xs-gces-12 { grid-column-end: span 12; }

    .xs-gres-a { grid-row-end: span auto; }
    .xs-gres-1 { grid-row-end: span 1; }
    .xs-gres-2 { grid-row-end: span 2; }
    .xs-gres-3 { grid-row-end: span 3; }
    .xs-gres-4 { grid-row-end: span 4; }
    .xs-gres-5 { grid-row-end: span 5; }
    .xs-gres-6 { grid-row-end: span 6; }
    .xs-gres-7 { grid-row-end: span 7; }
    .xs-gres-8 { grid-row-end: span 8; }
    .xs-gres-9 { grid-row-end: span 9; }
    .xs-gres-10 { grid-row-end: span 10; }
    .xs-gres-11 { grid-row-end: span 11; }
    .xs-gres-12 { grid-row-end: span 12; }
}

/* Small */
@media only screen and (min-width: 576px) {
    .xs-gtc-1 { grid-template-columns: auto; }
    .xs-gtc-2 { grid-template-columns: auto auto; }
    .xs-gtc-3 { grid-template-columns: auto auto auto; }
    .xs-gtc-4 { grid-template-columns: auto auto auto auto; }
    .xs-gtc-5 { grid-template-columns: auto auto auto auto auto; }
    .xs-gtc-6 { grid-template-columns: auto auto auto auto auto auto; }
    .xs-gtc-7 { grid-template-columns: auto auto auto auto auto auto auto; }
    .xs-gtc-8 { grid-template-columns: auto auto auto auto auto auto auto auto; }
    .xs-gtc-9 { grid-template-columns: auto auto auto auto auto auto auto auto auto; }
    .xs-gtc-10 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto; }
    .xs-gtc-11 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto; }
    .xs-gtc-12 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .xs-gtr-1 { grid-template-rows: auto; }
    .xs-gtr-2 { grid-template-rows: auto auto; }
    .xs-gtr-3 { grid-template-rows: auto auto auto; }
    .xs-gtr-4 { grid-template-rows: auto auto auto auto; }
    .xs-gtr-5 { grid-template-rows: auto auto auto auto auto; }
    .xs-gtr-6 { grid-template-rows: auto auto auto auto auto auto; }
    .xs-gtr-7 { grid-template-rows: auto auto auto auto auto auto auto; }
    .xs-gtr-8 { grid-template-rows: auto auto auto auto auto auto auto auto; }
    .xs-gtr-9 { grid-template-rows: auto auto auto auto auto auto auto auto auto; }
    .xs-gtr-10 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto; }
    .xs-gtr-11 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; }
    .xs-gtr-12 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .xs-gcs-a { grid-column-start: auto; }
    .xs-gcs-1 { grid-column-start: 1; }
    .xs-gcs-2 { grid-column-start: 2; }
    .xs-gcs-3 { grid-column-start: 3; }
    .xs-gcs-4 { grid-column-start: 4; }
    .xs-gcs-5 { grid-column-start: 5; }
    .xs-gcs-6 { grid-column-start: 6; }
    .xs-gcs-7 { grid-column-start: 7; }
    .xs-gcs-8 { grid-column-start: 8; }
    .xs-gcs-9 { grid-column-start: 9; }
    .xs-gcs-10 { grid-column-start: 10; }
    .xs-gcs-11 { grid-column-start: 11; }
    .xs-gcs-12 { grid-column-start: 12; }

    .xs-gce-a { grid-column-end: auto; }
    .xs-gce-1 { grid-column-end: 1; }
    .xs-gce-2 { grid-column-end: 2; }
    .xs-gce-3 { grid-column-end: 3; }
    .xs-gce-4 { grid-column-end: 4; }
    .xs-gce-5 { grid-column-end: 5; }
    .xs-gce-6 { grid-column-end: 6; }
    .xs-gce-7 { grid-column-end: 7; }
    .xs-gce-8 { grid-column-end: 8; }
    .xs-gce-9 { grid-column-end: 9; }
    .xs-gce-10 { grid-column-end: 10; }
    .xs-gce-11 { grid-column-end: 11; }
    .xs-gce-12 { grid-column-end: 12; }

    .xs-grs-a { grid-row-start: auto; }
    .xs-grs-1 { grid-row-start: 1; }
    .xs-grs-2 { grid-row-start: 2; }
    .xs-grs-3 { grid-row-start: 3; }
    .xs-grs-4 { grid-row-start: 4; }
    .xs-grs-5 { grid-row-start: 5; }
    .xs-grs-6 { grid-row-start: 6; }
    .xs-grs-7 { grid-row-start: 7; }
    .xs-grs-8 { grid-row-start: 8; }
    .xs-grs-9 { grid-row-start: 9; }
    .xs-grs-10 { grid-row-start: 10; }
    .xs-grs-11 { grid-row-start: 11; }
    .xs-grs-12 { grid-row-start: 12; }

    .xs-gre-a { grid-row-end: auto; }
    .xs-gre-1 { grid-row-end: 1; }
    .xs-gre-2 { grid-row-end: 2; }
    .xs-gre-3 { grid-row-end: 3; }
    .xs-gre-4 { grid-row-end: 4; }
    .xs-gre-5 { grid-row-end: 5; }
    .xs-gre-6 { grid-row-end: 6; }
    .xs-gre-7 { grid-row-end: 7; }
    .xs-gre-8 { grid-row-end: 8; }
    .xs-gre-9 { grid-row-end: 9; }
    .xs-gre-10 { grid-row-end: 10; }
    .xs-gre-11 { grid-row-end: 11; }
    .xs-gre-12 { grid-row-end: 12; }

    /* span */
    .xs-gces-a { grid-column-end: span auto; }
    .xs-gces-1 { grid-column-end: span 1; }
    .xs-gces-2 { grid-column-end: span 2; }
    .xs-gces-3 { grid-column-end: span 3; }
    .xs-gces-4 { grid-column-end: span 4; }
    .xs-gces-5 { grid-column-end: span 5; }
    .xs-gces-6 { grid-column-end: span 6; }
    .xs-gces-7 { grid-column-end: span 7; }
    .xs-gces-8 { grid-column-end: span 8; }
    .xs-gces-9 { grid-column-end: span 9; }
    .xs-gces-10 { grid-column-end: span 10; }
    .xs-gces-11 { grid-column-end: span 11; }
    .xs-gces-12 { grid-column-end: span 12; }

    .xs-gres-a { grid-row-end: span auto; }
    .xs-gres-1 { grid-row-end: span 1; }
    .xs-gres-2 { grid-row-end: span 2; }
    .xs-gres-3 { grid-row-end: span 3; }
    .xs-gres-4 { grid-row-end: span 4; }
    .xs-gres-5 { grid-row-end: span 5; }
    .xs-gres-6 { grid-row-end: span 6; }
    .xs-gres-7 { grid-row-end: span 7; }
    .xs-gres-8 { grid-row-end: span 8; }
    .xs-gres-9 { grid-row-end: span 9; }
    .xs-gres-10 { grid-row-end: span 10; }
    .xs-gres-11 { grid-row-end: span 11; }
    .xs-gres-12 { grid-row-end: span 12; }

    .sm-gtc-1 { grid-template-columns: auto; }
    .sm-gtc-2 { grid-template-columns: auto auto; }
    .sm-gtc-3 { grid-template-columns: auto auto auto; }
    .sm-gtc-4 { grid-template-columns: auto auto auto auto; }
    .sm-gtc-5 { grid-template-columns: auto auto auto auto auto; }
    .sm-gtc-6 { grid-template-columns: auto auto auto auto auto auto; }
    .sm-gtc-7 { grid-template-columns: auto auto auto auto auto auto auto; }
    .sm-gtc-8 { grid-template-columns: auto auto auto auto auto auto auto auto; }
    .sm-gtc-9 { grid-template-columns: auto auto auto auto auto auto auto auto auto; }
    .sm-gtc-10 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto; }
    .sm-gtc-11 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto; }
    .sm-gtc-12 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .sm-gtr-1 { grid-template-rows: auto; }
    .sm-gtr-2 { grid-template-rows: auto auto; }
    .sm-gtr-3 { grid-template-rows: auto auto auto; }
    .sm-gtr-4 { grid-template-rows: auto auto auto auto; }
    .sm-gtr-5 { grid-template-rows: auto auto auto auto auto; }
    .sm-gtr-6 { grid-template-rows: auto auto auto auto auto auto; }
    .sm-gtr-7 { grid-template-rows: auto auto auto auto auto auto auto; }
    .sm-gtr-8 { grid-template-rows: auto auto auto auto auto auto auto auto; }
    .sm-gtr-9 { grid-template-rows: auto auto auto auto auto auto auto auto auto; }
    .sm-gtr-10 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto; }
    .sm-gtr-11 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; }
    .sm-gtr-12 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .sm-gcs-a { grid-column-start: auto; }
    .sm-gcs-1 { grid-column-start: 1; }
    .sm-gcs-2 { grid-column-start: 2; }
    .sm-gcs-3 { grid-column-start: 3; }
    .sm-gcs-4 { grid-column-start: 4; }
    .sm-gcs-5 { grid-column-start: 5; }
    .sm-gcs-6 { grid-column-start: 6; }
    .sm-gcs-7 { grid-column-start: 7; }
    .sm-gcs-8 { grid-column-start: 8; }
    .sm-gcs-9 { grid-column-start: 9; }
    .sm-gcs-10 { grid-column-start: 10; }
    .sm-gcs-11 { grid-column-start: 11; }
    .sm-gcs-12 { grid-column-start: 12; }

    .sm-gce-a { grid-column-end: auto; }
    .sm-gce-1 { grid-column-end: 1; }
    .sm-gce-2 { grid-column-end: 2; }
    .sm-gce-3 { grid-column-end: 3; }
    .sm-gce-4 { grid-column-end: 4; }
    .sm-gce-5 { grid-column-end: 5; }
    .sm-gce-6 { grid-column-end: 6; }
    .sm-gce-7 { grid-column-end: 7; }
    .sm-gce-8 { grid-column-end: 8; }
    .sm-gce-9 { grid-column-end: 9; }
    .sm-gce-10 { grid-column-end: 10; }
    .sm-gce-11 { grid-column-end: 11; }
    .sm-gce-12 { grid-column-end: 12; }

    .sm-grs-a { grid-row-start: auto; }
    .sm-grs-1 { grid-row-start: 1; }
    .sm-grs-2 { grid-row-start: 2; }
    .sm-grs-3 { grid-row-start: 3; }
    .sm-grs-4 { grid-row-start: 4; }
    .sm-grs-5 { grid-row-start: 5; }
    .sm-grs-6 { grid-row-start: 6; }
    .sm-grs-7 { grid-row-start: 7; }
    .sm-grs-8 { grid-row-start: 8; }
    .sm-grs-9 { grid-row-start: 9; }
    .sm-grs-10 { grid-row-start: 10; }
    .sm-grs-11 { grid-row-start: 11; }
    .sm-grs-12 { grid-row-start: 12; }

    .sm-gre-a { grid-row-end: auto; }
    .sm-gre-1 { grid-row-end: 1; }
    .sm-gre-2 { grid-row-end: 2; }
    .sm-gre-3 { grid-row-end: 3; }
    .sm-gre-4 { grid-row-end: 4; }
    .sm-gre-5 { grid-row-end: 5; }
    .sm-gre-6 { grid-row-end: 6; }
    .sm-gre-7 { grid-row-end: 7; }
    .sm-gre-8 { grid-row-end: 8; }
    .sm-gre-9 { grid-row-end: 9; }
    .sm-gre-10 { grid-row-end: 10; }
    .sm-gre-11 { grid-row-end: 11; }
    .sm-gre-12 { grid-row-end: 12; }

    /* span */
    .sm-gces-a { grid-column-end: span auto; }
    .sm-gces-1 { grid-column-end: span 1; }
    .sm-gces-2 { grid-column-end: span 2; }
    .sm-gces-3 { grid-column-end: span 3; }
    .sm-gces-4 { grid-column-end: span 4; }
    .sm-gces-5 { grid-column-end: span 5; }
    .sm-gces-6 { grid-column-end: span 6; }
    .sm-gces-7 { grid-column-end: span 7; }
    .sm-gces-8 { grid-column-end: span 8; }
    .sm-gces-9 { grid-column-end: span 9; }
    .sm-gces-10 { grid-column-end: span 10; }
    .sm-gces-11 { grid-column-end: span 11; }
    .sm-gces-12 { grid-column-end: span 12; }

    .sm-gres-a { grid-row-end: span auto; }
    .sm-gres-1 { grid-row-end: span 1; }
    .sm-gres-2 { grid-row-end: span 2; }
    .sm-gres-3 { grid-row-end: span 3; }
    .sm-gres-4 { grid-row-end: span 4; }
    .sm-gres-5 { grid-row-end: span 5; }
    .sm-gres-6 { grid-row-end: span 6; }
    .sm-gres-7 { grid-row-end: span 7; }
    .sm-gres-8 { grid-row-end: span 8; }
    .sm-gres-9 { grid-row-end: span 9; }
    .sm-gres-10 { grid-row-end: span 10; }
    .sm-gres-11 { grid-row-end: span 11; }
    .sm-gres-12 { grid-row-end: span 12; }
}

/* Medium */
@media only screen and (min-width: 768px) {
    .md-gtc-1 { grid-template-columns: auto; }
    .md-gtc-2 { grid-template-columns: auto auto; }
    .md-gtc-3 { grid-template-columns: auto auto auto; }
    .md-gtc-4 { grid-template-columns: auto auto auto auto; }
    .md-gtc-5 { grid-template-columns: auto auto auto auto auto; }
    .md-gtc-6 { grid-template-columns: auto auto auto auto auto auto; }
    .md-gtc-7 { grid-template-columns: auto auto auto auto auto auto auto; }
    .md-gtc-8 { grid-template-columns: auto auto auto auto auto auto auto auto; }
    .md-gtc-9 { grid-template-columns: auto auto auto auto auto auto auto auto auto; }
    .md-gtc-10 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto; }
    .md-gtc-11 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto; }
    .md-gtc-12 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .md-gtr-1 { grid-template-rows: auto; }
    .md-gtr-2 { grid-template-rows: auto auto; }
    .md-gtr-3 { grid-template-rows: auto auto auto; }
    .md-gtr-4 { grid-template-rows: auto auto auto auto; }
    .md-gtr-5 { grid-template-rows: auto auto auto auto auto; }
    .md-gtr-6 { grid-template-rows: auto auto auto auto auto auto; }
    .md-gtr-7 { grid-template-rows: auto auto auto auto auto auto auto; }
    .md-gtr-8 { grid-template-rows: auto auto auto auto auto auto auto auto; }
    .md-gtr-9 { grid-template-rows: auto auto auto auto auto auto auto auto auto; }
    .md-gtr-10 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto; }
    .md-gtr-11 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; }
    .md-gtr-12 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .md-gcs-a { grid-column-start: auto; }
    .md-gcs-1 { grid-column-start: 1; }
    .md-gcs-2 { grid-column-start: 2; }
    .md-gcs-3 { grid-column-start: 3; }
    .md-gcs-4 { grid-column-start: 4; }
    .md-gcs-5 { grid-column-start: 5; }
    .md-gcs-6 { grid-column-start: 6; }
    .md-gcs-7 { grid-column-start: 7; }
    .md-gcs-8 { grid-column-start: 8; }
    .md-gcs-9 { grid-column-start: 9; }
    .md-gcs-10 { grid-column-start: 10; }
    .md-gcs-11 { grid-column-start: 11; }
    .md-gcs-12 { grid-column-start: 12; }

    .md-gce-a { grid-column-end: auto; }
    .md-gce-1 { grid-column-end: 1; }
    .md-gce-2 { grid-column-end: 2; }
    .md-gce-3 { grid-column-end: 3; }
    .md-gce-4 { grid-column-end: 4; }
    .md-gce-5 { grid-column-end: 5; }
    .md-gce-6 { grid-column-end: 6; }
    .md-gce-7 { grid-column-end: 7; }
    .md-gce-8 { grid-column-end: 8; }
    .md-gce-9 { grid-column-end: 9; }
    .md-gce-10 { grid-column-end: 10; }
    .md-gce-11 { grid-column-end: 11; }
    .md-gce-12 { grid-column-end: 12; }

    .md-grs-a { grid-row-start: auto; }
    .md-grs-1 { grid-row-start: 1; }
    .md-grs-2 { grid-row-start: 2; }
    .md-grs-3 { grid-row-start: 3; }
    .md-grs-4 { grid-row-start: 4; }
    .md-grs-5 { grid-row-start: 5; }
    .md-grs-6 { grid-row-start: 6; }
    .md-grs-7 { grid-row-start: 7; }
    .md-grs-8 { grid-row-start: 8; }
    .md-grs-9 { grid-row-start: 9; }
    .md-grs-10 { grid-row-start: 10; }
    .md-grs-11 { grid-row-start: 11; }
    .md-grs-12 { grid-row-start: 12; }

    .md-gre-a { grid-row-end: auto; }
    .md-gre-1 { grid-row-end: 1; }
    .md-gre-2 { grid-row-end: 2; }
    .md-gre-3 { grid-row-end: 3; }
    .md-gre-4 { grid-row-end: 4; }
    .md-gre-5 { grid-row-end: 5; }
    .md-gre-6 { grid-row-end: 6; }
    .md-gre-7 { grid-row-end: 7; }
    .md-gre-8 { grid-row-end: 8; }
    .md-gre-9 { grid-row-end: 9; }
    .md-gre-10 { grid-row-end: 10; }
    .md-gre-11 { grid-row-end: 11; }
    .md-gre-12 { grid-row-end: 12; }

    /* span */
    .md-gces-a { grid-column-end: span auto; }
    .md-gces-1 { grid-column-end: span 1; }
    .md-gces-2 { grid-column-end: span 2; }
    .md-gces-3 { grid-column-end: span 3; }
    .md-gces-4 { grid-column-end: span 4; }
    .md-gces-5 { grid-column-end: span 5; }
    .md-gces-6 { grid-column-end: span 6; }
    .md-gces-7 { grid-column-end: span 7; }
    .md-gces-8 { grid-column-end: span 8; }
    .md-gces-9 { grid-column-end: span 9; }
    .md-gces-10 { grid-column-end: span 10; }
    .md-gces-11 { grid-column-end: span 11; }
    .md-gces-12 { grid-column-end: span 12; }

    .md-gres-a { grid-row-end: span auto; }
    .md-gres-1 { grid-row-end: span 1; }
    .md-gres-2 { grid-row-end: span 2; }
    .md-gres-3 { grid-row-end: span 3; }
    .md-gres-4 { grid-row-end: span 4; }
    .md-gres-5 { grid-row-end: span 5; }
    .md-gres-6 { grid-row-end: span 6; }
    .md-gres-7 { grid-row-end: span 7; }
    .md-gres-8 { grid-row-end: span 8; }
    .md-gres-9 { grid-row-end: span 9; }
    .md-gres-10 { grid-row-end: span 10; }
    .md-gres-11 { grid-row-end: span 11; }
    .md-gres-12 { grid-row-end: span 12; }
}

/* Large */
@media only screen and (min-width: 992px) {
    .lg-gtc-1 { grid-template-columns: auto; }
    .lg-gtc-2 { grid-template-columns: auto auto; }
    .lg-gtc-3 { grid-template-columns: auto auto auto; }
    .lg-gtc-4 { grid-template-columns: auto auto auto auto; }
    .lg-gtc-5 { grid-template-columns: auto auto auto auto auto; }
    .lg-gtc-6 { grid-template-columns: auto auto auto auto auto auto; }
    .lg-gtc-7 { grid-template-columns: auto auto auto auto auto auto auto; }
    .lg-gtc-8 { grid-template-columns: auto auto auto auto auto auto auto auto; }
    .lg-gtc-9 { grid-template-columns: auto auto auto auto auto auto auto auto auto; }
    .lg-gtc-10 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto; }
    .lg-gtc-11 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto; }
    .lg-gtc-12 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .lg-gtr-1 { grid-template-rows: auto; }
    .lg-gtr-2 { grid-template-rows: auto auto; }
    .lg-gtr-3 { grid-template-rows: auto auto auto; }
    .lg-gtr-4 { grid-template-rows: auto auto auto auto; }
    .lg-gtr-5 { grid-template-rows: auto auto auto auto auto; }
    .lg-gtr-6 { grid-template-rows: auto auto auto auto auto auto; }
    .lg-gtr-7 { grid-template-rows: auto auto auto auto auto auto auto; }
    .lg-gtr-8 { grid-template-rows: auto auto auto auto auto auto auto auto; }
    .lg-gtr-9 { grid-template-rows: auto auto auto auto auto auto auto auto auto; }
    .lg-gtr-10 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto; }
    .lg-gtr-11 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; }
    .lg-gtr-12 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .lg-gcs-a { grid-column-start: auto; }
    .lg-gcs-1 { grid-column-start: 1; }
    .lg-gcs-2 { grid-column-start: 2; }
    .lg-gcs-3 { grid-column-start: 3; }
    .lg-gcs-4 { grid-column-start: 4; }
    .lg-gcs-5 { grid-column-start: 5; }
    .lg-gcs-6 { grid-column-start: 6; }
    .lg-gcs-7 { grid-column-start: 7; }
    .lg-gcs-8 { grid-column-start: 8; }
    .lg-gcs-9 { grid-column-start: 9; }
    .lg-gcs-10 { grid-column-start: 10; }
    .lg-gcs-11 { grid-column-start: 11; }
    .lg-gcs-12 { grid-column-start: 12; }

    .lg-gce-a { grid-column-end: auto; }
    .lg-gce-1 { grid-column-end: 1; }
    .lg-gce-2 { grid-column-end: 2; }
    .lg-gce-3 { grid-column-end: 3; }
    .lg-gce-4 { grid-column-end: 4; }
    .lg-gce-5 { grid-column-end: 5; }
    .lg-gce-6 { grid-column-end: 6; }
    .lg-gce-7 { grid-column-end: 7; }
    .lg-gce-8 { grid-column-end: 8; }
    .lg-gce-9 { grid-column-end: 9; }
    .lg-gce-10 { grid-column-end: 10; }
    .lg-gce-11 { grid-column-end: 11; }
    .lg-gce-12 { grid-column-end: 12; }

    .lg-grs-a { grid-row-start: auto; }
    .lg-grs-1 { grid-row-start: 1; }
    .lg-grs-2 { grid-row-start: 2; }
    .lg-grs-3 { grid-row-start: 3; }
    .lg-grs-4 { grid-row-start: 4; }
    .lg-grs-5 { grid-row-start: 5; }
    .lg-grs-6 { grid-row-start: 6; }
    .lg-grs-7 { grid-row-start: 7; }
    .lg-grs-8 { grid-row-start: 8; }
    .lg-grs-9 { grid-row-start: 9; }
    .lg-grs-10 { grid-row-start: 10; }
    .lg-grs-11 { grid-row-start: 11; }
    .lg-grs-12 { grid-row-start: 12; }

    .lg-gre-a { grid-row-end: auto; }
    .lg-gre-1 { grid-row-end: 1; }
    .lg-gre-2 { grid-row-end: 2; }
    .lg-gre-3 { grid-row-end: 3; }
    .lg-gre-4 { grid-row-end: 4; }
    .lg-gre-5 { grid-row-end: 5; }
    .lg-gre-6 { grid-row-end: 6; }
    .lg-gre-7 { grid-row-end: 7; }
    .lg-gre-8 { grid-row-end: 8; }
    .lg-gre-9 { grid-row-end: 9; }
    .lg-gre-10 { grid-row-end: 10; }
    .lg-gre-11 { grid-row-end: 11; }
    .lg-gre-12 { grid-row-end: 12; }

    /* span */
    .lg-gces-a { grid-column-end: span auto; }
    .lg-gces-1 { grid-column-end: span 1; }
    .lg-gces-2 { grid-column-end: span 2; }
    .lg-gces-3 { grid-column-end: span 3; }
    .lg-gces-4 { grid-column-end: span 4; }
    .lg-gces-5 { grid-column-end: span 5; }
    .lg-gces-6 { grid-column-end: span 6; }
    .lg-gces-7 { grid-column-end: span 7; }
    .lg-gces-8 { grid-column-end: span 8; }
    .lg-gces-9 { grid-column-end: span 9; }
    .lg-gces-10 { grid-column-end: span 10; }
    .lg-gces-11 { grid-column-end: span 11; }
    .lg-gces-12 { grid-column-end: span 12; }

    .lg-gres-a { grid-row-end: span auto; }
    .lg-gres-1 { grid-row-end: span 1; }
    .lg-gres-2 { grid-row-end: span 2; }
    .lg-gres-3 { grid-row-end: span 3; }
    .lg-gres-4 { grid-row-end: span 4; }
    .lg-gres-5 { grid-row-end: span 5; }
    .lg-gres-6 { grid-row-end: span 6; }
    .lg-gres-7 { grid-row-end: span 7; }
    .lg-gres-8 { grid-row-end: span 8; }
    .lg-gres-9 { grid-row-end: span 9; }
    .lg-gres-10 { grid-row-end: span 10; }
    .lg-gres-11 { grid-row-end: span 11; }
    .lg-gres-12 { grid-row-end: span 12; }
}

/* Extra Large */
@media only screen and (min-width: 1200px) {
    .xl-gtc-1 { grid-template-columns: auto; }
    .xl-gtc-2 { grid-template-columns: auto auto; }
    .xl-gtc-3 { grid-template-columns: auto auto auto; }
    .xl-gtc-4 { grid-template-columns: auto auto auto auto; }
    .xl-gtc-5 { grid-template-columns: auto auto auto auto auto; }
    .xl-gtc-6 { grid-template-columns: auto auto auto auto auto auto; }
    .xl-gtc-7 { grid-template-columns: auto auto auto auto auto auto auto; }
    .xl-gtc-8 { grid-template-columns: auto auto auto auto auto auto auto auto; }
    .xl-gtc-9 { grid-template-columns: auto auto auto auto auto auto auto auto auto; }
    .xl-gtc-10 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto; }
    .xl-gtc-11 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto; }
    .xl-gtc-12 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .xl-gtr-1 { grid-template-rows: auto; }
    .xl-gtr-2 { grid-template-rows: auto auto; }
    .xl-gtr-3 { grid-template-rows: auto auto auto; }
    .xl-gtr-4 { grid-template-rows: auto auto auto auto; }
    .xl-gtr-5 { grid-template-rows: auto auto auto auto auto; }
    .xl-gtr-6 { grid-template-rows: auto auto auto auto auto auto; }
    .xl-gtr-7 { grid-template-rows: auto auto auto auto auto auto auto; }
    .xl-gtr-8 { grid-template-rows: auto auto auto auto auto auto auto auto; }
    .xl-gtr-9 { grid-template-rows: auto auto auto auto auto auto auto auto auto; }
    .xl-gtr-10 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto; }
    .xl-gtr-11 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; }
    .xl-gtr-12 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto; }

    .xl-gcs-a { grid-column-start: auto; }
    .xl-gcs-1 { grid-column-start: 1; }
    .xl-gcs-2 { grid-column-start: 2; }
    .xl-gcs-3 { grid-column-start: 3; }
    .xl-gcs-4 { grid-column-start: 4; }
    .xl-gcs-5 { grid-column-start: 5; }
    .xl-gcs-6 { grid-column-start: 6; }
    .xl-gcs-7 { grid-column-start: 7; }
    .xl-gcs-8 { grid-column-start: 8; }
    .xl-gcs-9 { grid-column-start: 9; }
    .xl-gcs-10 { grid-column-start: 10; }
    .xl-gcs-11 { grid-column-start: 11; }
    .xl-gcs-12 { grid-column-start: 12; }

    .xl-gce-a { grid-column-end: auto; }
    .xl-gce-1 { grid-column-end: 1; }
    .xl-gce-2 { grid-column-end: 2; }
    .xl-gce-3 { grid-column-end: 3; }
    .xl-gce-4 { grid-column-end: 4; }
    .xl-gce-5 { grid-column-end: 5; }
    .xl-gce-6 { grid-column-end: 6; }
    .xl-gce-7 { grid-column-end: 7; }
    .xl-gce-8 { grid-column-end: 8; }
    .xl-gce-9 { grid-column-end: 9; }
    .xl-gce-10 { grid-column-end: 10; }
    .xl-gce-11 { grid-column-end: 11; }
    .xl-gce-12 { grid-column-end: 12; }

    .xl-grs-a { grid-row-start: auto; }
    .xl-grs-1 { grid-row-start: 1; }
    .xl-grs-2 { grid-row-start: 2; }
    .xl-grs-3 { grid-row-start: 3; }
    .xl-grs-4 { grid-row-start: 4; }
    .xl-grs-5 { grid-row-start: 5; }
    .xl-grs-6 { grid-row-start: 6; }
    .xl-grs-7 { grid-row-start: 7; }
    .xl-grs-8 { grid-row-start: 8; }
    .xl-grs-9 { grid-row-start: 9; }
    .xl-grs-10 { grid-row-start: 10; }
    .xl-grs-11 { grid-row-start: 11; }
    .xl-grs-12 { grid-row-start: 12; }

    .xl-gre-a { grid-row-end: auto; }
    .xl-gre-1 { grid-row-end: 1; }
    .xl-gre-2 { grid-row-end: 2; }
    .xl-gre-3 { grid-row-end: 3; }
    .xl-gre-4 { grid-row-end: 4; }
    .xl-gre-5 { grid-row-end: 5; }
    .xl-gre-6 { grid-row-end: 6; }
    .xl-gre-7 { grid-row-end: 7; }
    .xl-gre-8 { grid-row-end: 8; }
    .xl-gre-9 { grid-row-end: 9; }
    .xl-gre-10 { grid-row-end: 10; }
    .xl-gre-11 { grid-row-end: 11; }
    .xl-gre-12 { grid-row-end: 12; }

    /* span */
    .xl-gces-a { grid-column-end: span auto; }
    .xl-gces-1 { grid-column-end: span 1; }
    .xl-gces-2 { grid-column-end: span 2; }
    .xl-gces-3 { grid-column-end: span 3; }
    .xl-gces-4 { grid-column-end: span 4; }
    .xl-gces-5 { grid-column-end: span 5; }
    .xl-gces-6 { grid-column-end: span 6; }
    .xl-gces-7 { grid-column-end: span 7; }
    .xl-gces-8 { grid-column-end: span 8; }
    .xl-gces-9 { grid-column-end: span 9; }
    .xl-gces-10 { grid-column-end: span 10; }
    .xl-gces-11 { grid-column-end: span 11; }
    .xl-gces-12 { grid-column-end: span 12; }

    .xl-gres-a { grid-row-end: span auto; }
    .xl-gres-1 { grid-row-end: span 1; }
    .xl-gres-2 { grid-row-end: span 2; }
    .xl-gres-3 { grid-row-end: span 3; }
    .xl-gres-4 { grid-row-end: span 4; }
    .xl-gres-5 { grid-row-end: span 5; }
    .xl-gres-6 { grid-row-end: span 6; }
    .xl-gres-7 { grid-row-end: span 7; }
    .xl-gres-8 { grid-row-end: span 8; }
    .xl-gres-9 { grid-row-end: span 9; }
    .xl-gres-10 { grid-row-end: span 10; }
    .xl-gres-11 { grid-row-end: span 11; }
    .xl-gres-12 { grid-row-end: span 12; }
}